.channels-container {
  padding: 10px;

  background-attachment: fixed;
  background-image: url('/assets/HeroImage.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.channels-card-title {
  align-items: center;
}

mat-card-header {
  align-items: center;
  padding-bottom: 16px;
}

mat-card-content {
  display: flex;
  align-items: center;
}
