<div class="form-section">
  <form class="signInForm">
    <h1>Iniciar Sesión</h1>
    <div class="email">
      <mat-form-field>
        <input matInput placeholder="Correo Electrónico">
      </mat-form-field>
    </div>
    <div class="password">
      <mat-form-field>
        <input matInput placeholder="Contraseña">
      </mat-form-field>
    </div>
    <div class="buttons">
      <a mat-raised-button>Iniciar Sesión</a>
      <a mat-flat-button>¿Olvidaste tu contraseña?</a>
    </div>
  </form>
</div>
