<div class="subscriptions">
  <h2>Planes disponibles</h2>
  <div class="card-container">
    <div class="card">
      <h3>Plan Básico</h3>
      <p>S/.15.00 al mes</p>
      <p>25 videos por mes</p>
      <p>10 repositorios por mes</p>
      <p>Acceso a la documentación</p>
      <p>Acceso al foro</p>
      <button>¡Suscríbete ya!</button>
    </div>
    <div class="card">
      <h3>Plan Regular</h3>
      <p>S/.20.00 al mes</p>
      <p>50 videos por mes</p>
      <p>20 repositorios por mes</p>
      <p>Acceso a la documentación</p>
      <p>Acceso al foro</p>
      <button>¡Suscríbete ya!</button>
    </div>
    <div class="card">
      <h3>Plan Premium</h3>
      <p>S/.50.00 al mes</p>
      <p>Videos ilimitados</p>
      <p>Repositorios ilimitados</p>
      <p>Acceso a la documentación</p>
      <p>Acceso al foro</p>
      <button>¡Suscríbete ya!</button>
    </div>
  </div>
</div>
