<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="menu-sidenav" fixedInViewport>
    <mat-toolbar>FastLearners</mat-toolbar>
    <mat-nav-list>
      <mat-list-item *ngFor="let route of routes">
        <a mat-button [routerLink]="route.path">{{route.title}}</a>
      </mat-list-item>
      <mat-list-item *ngFor="let route of routesAccount">
        <a mat-button [routerLink]="route.path">{{route.title}}</a>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="menu-toolbar">
      <img src="./assets/logo.svg" alt="logo-toolbar" class="logo-toolbar">
      <span>Fast Learners</span>
      <button mat-icon-button class="button-sidenav" (click)="drawer.toggle()" *ngIf="isScreenSmall">
        <mat-icon>menu</mat-icon>
      </button>
      <div *ngIf="!isScreenSmall">
        <span>
          <a mat-button *ngFor="let route of routes"
             [routerLink]="route.path">{{route.title}}</a>
        </span>
        <span class="spacer"></span>
        <span>
          <a mat-raised-button *ngFor="let route of routesAccount"
             [routerLink]="route.path">{{route.title}}</a>
        </span>
      </div>
    </mat-toolbar>
    <router-outlet/>
    <app-footer/>
  </mat-sidenav-content>
</mat-sidenav-container>
