.sidenav-container {
  height: 100%;
}
.menu-sidenav {
  width: 220px;
  background: inherit;
}
.button-sidenav {
  position: absolute;
  right: 10px;
}
.menu-toolbar {
  position: sticky;
  top: 0;
  z-index: 1;
}
.logo-toolbar {
  height: 50px;
}
.spacer {
  flex: 1 1 auto;
}
