body {
  background-image: url('/assets/MainPageImage_002.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh; /* Cubre al menos la altura completa de la ventana */
}

*{ margin: 0; padding: 0; box-sizing: border-box; }
